.cart{
    margin: 7px;
    display: flex;
    align-items: center;
    background-color: bisque;
    border-radius: 0px 13px 0px 13px;
    padding: 7px;
}
.cart img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 8px;
}
